<mat-card>
  <mat-card-header>
    Header
  </mat-card-header>
  <mat-card-content>
    <div>
      Maultaschen
    </div>
    <div>
      Maultaschen
    </div>
    <div>
      Maultaschen
    </div>
    <div>
      Maultaschen
    </div>
  </mat-card-content>
  <mat-card-actions>
    <div class="inline-flex">
      <button mat-raised-button>Vote up!</button>
      <mat-chip-list class="pa2">
        <mat-chip style="color: white; background-color: black;" [disabled]="true">6</mat-chip>
      </mat-chip-list>
    </div>
  </mat-card-actions>
</mat-card>
