<div class="title flex">
  <div class="w-10">
    <button mat-raised-button style="margin: 0.5rem !important" [routerLink]="['/']">zurück</button>
  </div>
  <div class="title-text flex-grow-1">Config-Page</div>
  <div class="w-10"></div>
</div>

<!-- CONTENT -->
<div class="flex">

  <!-- new template -->
  <mat-card class="w-50 ma2">
    <mat-card-title>
      New Template
    </mat-card-title>

    <mat-form-field class="ma2">
      <input matInput placeholder="Template Name" [(ngModel)]="name">
    </mat-form-field>


    <button mat-raised-button (click)="newTemplate()">
      create new template
    </button>

    <app-ingredient-list [selectedOptions]="ingredients" (selected)="ingredients = $event"></app-ingredient-list>
  </mat-card>

  <!-- manage templates-->
  <mat-card class="w-50 ma2">
    <mat-card-title>
      Manage Templates
    </mat-card-title>

    <mat-list>
      <mat-list-item *ngFor="let template of templates" class="flex">

        <!-- template data -->
        <div class="flex-grow-1">
          <p matLine>
            <b>
              {{template.name}}
            </b>
          </p>

          <p matLine>
            <span class="mr2" *ngFor="let ingredient of template?.ingredients">
              {{ingredient}}
            </span>
          </p>

          <p matLine>
            vegetarian: {{template?.vegetarian}}
          </p>

          <p matLine>
            pork: {{template?.pork}}
          </p>
        </div>

        <!-- Buttons -->
        <div class="w-20">
          <button mat-raised-button color="warn" (click)="deleteTemplate(template)">
            <mat-icon>delete</mat-icon>
          </button>

        </div>
      </mat-list-item>
    </mat-list>

  </mat-card>
</div>