<div class="title flex">
  <div class="w-10">
    <button mat-raised-button style="margin: 0.5rem !important" [routerLink]="['/']">zurück</button>
  </div>
  <div class="title-text flex-grow-1">Config-Page</div>
  <div class="w-10"></div>
</div>

<!-- CONTENT -->
<div class="flex">

  <!-- new template -->
  <mat-card class="w-50 ma2">
    <mat-card-title>
      New Template
    </mat-card-title>

    <app-ingredient-list></app-ingredient-list>
  </mat-card>

  <!-- manage templates-->
  <mat-card class="w-50 ma2">
    <mat-card-title>
      Manage Templates
    </mat-card-title>


  </mat-card>
</div>