<!-- TODO find better way for coloring -->
<div class="example-box" *ngIf="element?.vegetarian === true" style="background-color: darkseagreen">
  <div *ngIf="element?.ingredients?.size > 0; else noIngredients">
    {{element.name}}
  </div>
  <ng-template #noIngredients>
    <div *ngFor="let ingredient of element?.ingredients">
      {{ingredient}}<br />
    </div>
  </ng-template>
</div>

<div class="example-box" *ngIf="element?.vegetarian === false && element?.pork === false"
  style="background-color: lightblue">
  <div *ngIf="element?.ingredients?.size > 0; else noIngredients">
    {{element.name}}
  </div>
  <ng-template #noIngredients>
    <div *ngFor="let ingredient of element?.ingredients">
      {{ingredient}}<br />
    </div>
  </ng-template>
</div>

<div class="example-box" *ngIf="element?.vegetarian === false && element?.pork === true"
  style="background-color: gainsboro">
  <div *ngIf="element?.ingredients?.size > 0; else noIngredients">
    {{element.name}}
  </div>
  <ng-template #noIngredients>
    <div *ngFor="let ingredient of element?.ingredients">
      {{ingredient}}<br />
    </div>
  </ng-template>
</div>