<div class="title">
  <button mat-raised-button style="margin: 0.5rem !important" [routerLink]="['/']">zurück</button>
  <div class="title-text">Admin-Page for Team: {{teamName}}</div>
</div>
<div class="input">
  <div>
    <!-- Number of Things -->
    <div>
      <mat-form-field>
        <input matInput type="number" [(ngModel)]="numberOfThings" (change)="numberValueChanged()">
      </mat-form-field>
      <div class="text">
        Gesamtzahl
      </div>
    </div>

    <!-- Vegetarien -->
    <div>
      <div class="separators">
        <mat-form-field>
          <input matInput type="number" [(ngModel)]="vegetarian" (change)="numberValueChanged()">
        </mat-form-field>
        <div class="text">
          Anzahl Vegetarier
        </div>
      </div>

    </div>

    <!-- Pork -->
    <div>
      <mat-form-field>
        <input matInput type="number" [(ngModel)]="pork" (change)="numberValueChanged()">
      </mat-form-field>
      <div class="text">
        Anzahl Nicht-Schwein
      </div>
    </div>
  </div>
</div>

<!-- second row -->
<div class="preview">

  <!-- Team-link -->
  <span class="ma3">
    <button mat-raised-button (click)="copyToClipBoard()">team-link</button>
  </span>

  <!-- Selector -->
  <span class="ma3">
    <mat-form-field>
      <mat-select [(ngModel)]="selectedOption">
        <mat-option *ngFor="let option of optionsToChoose " [value]="option">
          {{option.display}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </span>

  <!-- Save -->
  <span class="ma3">
    <button mat-raised-button (click)="save()">Speichern</button>
  </span>
</div>

<!-- third row -->
<div class="preview">
  <mat-slide-toggle [(ngModel)]="freeze" class="ma2 pa2">Einfrieren</mat-slide-toggle>

  <button mat-raised-button class="ma2 pa2" (click)="showOrderPreview()">Bestellansicht</button>

  <mat-form-field class="ma2 pa2">
    <mat-select [(ngModel)]="selectedMode">
      <mat-option *ngFor="let mode of modesToSelect " [value]="mode">
        {{mode.display}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<mat-divider class="pa2"></mat-divider>
<app-suggestion-list [isAdmin]="true" [token]="token"></app-suggestion-list>