<div class="title">
  <div>Admin-Page for Team: {{teamName}}</div>
</div>
<div class="input">
  <!-- Number of Things -->
  <mat-form-field>
    <input matInput type="number" [(value)]="numberOfThings" (change)="numberValueChanged()">
  </mat-form-field>

  <!-- Selector -->
  <mat-form-field>
    <mat-select [(value)]="selectedOption">
      <mat-option *ngFor="let option of optionsToChoose " [value]="option">
        {{option}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div class="preview">
  <button mat-raised-button (click)="showOrderPreview">Bestellansicht</button>
</div>
