<div class="title">
  <div>Admin-Page for Team: {{teamName}}</div>
</div>
<div class="input">
  <div>
    <!-- Number of Things -->
    <div>
      <mat-form-field>
        <input matInput type="number" [(ngModel)]="numberOfThings" (change)="numberValueChanged()">
      </mat-form-field>
      <div class="text">
        Gesamtzahl
      </div>
    </div>

    <!-- Vegetarien -->
    <div>
      <div class="separators">
        <mat-form-field>
          <input matInput type="number" [(ngModel)]="vegetarian" (change)="numberValueChanged()">
        </mat-form-field>
        <div class="text">
          Anzahl Vegetarier
        </div>
      </div>

      <!-- Selector -->
      <mat-form-field>
        <mat-select [(ngModel)]="selectedOption">
          <mat-option *ngFor="let option of optionsToChoose " [value]="option">
            {{option}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- Pork -->
    <div>
      <mat-form-field>
        <input matInput type="number" [(ngModel)]="pork" (change)="numberValueChanged()">
      </mat-form-field>
      <div class="text">
        Anzahl Schwein
      </div>
    </div>
  </div>


</div>
<div class="preview">
  <button mat-raised-button (click)="showOrderPreview()">Bestellansicht</button>
</div>

<mat-divider></mat-divider>
<app-suggestion-list></app-suggestion-list>
