<div class="suggest pa2">
  <div style="height: 10px"></div>
  <button mat-raised-button (click)="openTemplates()">Vorlagen</button>
  <div style="height: 40px"></div>
  <button mat-raised-button [disabled]="ingredientSelection.selectedOptions.selected.length > 4" (click)="send()">
    Vorschlag absenden
  </button>

  <div class="pa2">
    <mat-divider></mat-divider>
  </div>

  <div class="counter">
    Toppings selected: {{ingredientSelection.selectedOptions.selected.length}}/4
  </div>

  <div class="pa2">
    <mat-divider></mat-divider>
  </div>

  <!-- Topping list-->
  <mat-selection-list #ingredientSelection [(ngModel)]="selectedOptions">
    <mat-list-option *ngFor="let ingredient of ingredients" [value]=ingredient>
      {{ingredient.name}}
    </mat-list-option>
  </mat-selection-list>

</div>
