<div class="suggest pa2">

  <div class="pa2" style="margin-top: 1em">
    <mat-divider></mat-divider>
  </div>

  <div class="counter {{(ingredientSelection.selectedOptions.selected.length > 4 ? 'warning' : '')}}">
    Toppings selected: {{ingredientSelection.selectedOptions.selected.length}}/4
  </div>

  <div class="pa2">
    <mat-divider></mat-divider>
  </div>

  <!-- Topping list-->
  <mat-selection-list #ingredientSelection [(ngModel)]="selectedOptions" (selectionChange)="changeSelected()">
    <mat-list-option *ngFor="let ingredient of ingredients" [value]=ingredient>
      {{ingredient.name}}
    </mat-list-option>
  </mat-selection-list>

</div>