<mat-dialog-content>
  <h3>Bestellansicht</h3>

  <div cdkDropListGroup>

    <!-- left side -->
    <div class="example-container">
      <div cdkDropList [cdkDropListData]="left" class="example-list" (cdkDropListDropped)="drop($event)">
        <app-order-element *ngFor="let item of left" cdkDrag [element]="item"></app-order-element>
      </div>

    </div>

    <!-- right side-->
    <div class="example-container">
      <div cdkDropList [cdkDropListData]="right" class="example-list" (cdkDropListDropped)="drop($event)">
        <app-order-element *ngFor="let item of right" cdkDrag [element]="item"></app-order-element>
      </div>
    </div>
  </div>


</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Ok</button>
</mat-dialog-actions>