<div class="title">
  <div>Team: {{teamName}}</div>
</div>
<div class="content flex">

  <!-- Pizzas -->
  <div class="w-75 vote">
    <div class="preview">
      <button mat-raised-button (click)="showOrderPreview()">Bestellansicht</button>
    </div>
    <div class="pa2">
      <mat-divider></mat-divider>
    </div>
    <app-suggestion-list [isAdmin]="false"></app-suggestion-list>
  </div>

  <!-- Ingredients -->
  <div class="w-25 suggest">
    <app-ingredient-list></app-ingredient-list>
  </div>
</div>
