<div class="title">
  <div>Team: {{teamName}}</div>
</div>
<div class="content">
  <div class="vote flex flex-wrap">
    <ng-container *ngFor="let element of ingredients">
      <!-- TODO Replace ingredients with array of pizza suggestions. -->
      <app-suggestion [suggestion]="element"></app-suggestion>
    </ng-container>
  </div>
  <div class="suggest pa2">
    <div style="height: 10px"></div>
    <button mat-raised-button (click)="openDialog()">Vorlagen</button>
    <div style="height: 40px"></div>
    <button mat-raised-button (click)="openDialog()">Vorschlag absenden</button>
    <mat-selection-list>
      <mat-list-option *ngFor="let shoe of typesOfShoes">
        {{shoe}}
      </mat-list-option>
    </mat-selection-list>  </div>
</div>
