.title {
  width: 100%;
  background-color: rgba(237, 237, 237, 0.61);
  height: 30vh;
}

.title > div {
  position: relative;
  top: 50%;
  transform: perspective(1px) translateY(-50%);
  text-align: center;
  font-size: 8vw;
}

.interactive {
  display: table;
  margin: 0 auto;
}

.button, .form-field {
  font-weight: bold;
  font-size: x-large;
  min-width: 20vw;
  max-width: 80vw;
  height: 100%;
  position: relative;
  top: 50%;
  display: table;
  margin: 10px auto;
}

button, mat-form-field {
  width: 100%;
  display: block;
}

button {
  height: 25%;
  margin: 2vh 1vw 0;
  font-weight: bold;
  font-size: x-large;
  padding: 10px;
}
