<div class="title">
  <div>Pizza Calculator V2.0</div>
</div>
<div class="interactive">
  <div class="goto">
    <mat-form-field>
      <mat-select placeholder="Go to page for team">
        <mat-option value="Go to Team">Go to Team</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button>Go to team page</button>
  </div>
  <div class="create">
    <mat-form-field>
      <input matInput placeholder="Create Team">
    </mat-form-field>
    <button mat-raised-button>Create Team</button>
  </div>
</div>
