<div class="title">
  <div>Pizza Calculator V2.0</div>
</div>
<div class="interactive">
  <div class="goto flex flex-wrap">
    <div class="form-field">
      <form>
        <mat-form-field>
          <input type="text" placeholder="Go to page for team" matInput [formControl]="teamNameFormControl"
            [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let team of filteredOptions | async" [value]="team">
              {{team}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>
    </div>
    <div class="button">
      <button mat-raised-button (click)="goToTeam()">Go to team page</button>
    </div>
  </div>
  <div class="create flex flex-wrap">
    <div class="form-field">
      <mat-form-field>
        <input matInput placeholder="create a new team" [(ngModel)]="teamTypingInput">
      </mat-form-field>
    </div>

    <div class="ma1 flex flex-column" style="justify-content: center;">
      <mat-slide-toggle [(ngModel)]="publicTeam">Public</mat-slide-toggle>
    </div>

    <div class="button">
      <button mat-raised-button (click)=createTeam()>Create Team</button>
    </div>
  </div>
</div>